<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Tổng số bài báo mỗi năm trong 5 năm gần nhất:</p>
    {%for row1 in account%}
    <p>Năm {{b}} là: {{row1['COUNT(*)']}} bài báo</p>
    {%endfor%}

    {%for row1 in account1%}
    <p>Năm {{b1}} là: {{row1['COUNT(*)']}} bài báo</p>
    {%endfor%}

    {%for row1 in account2%}
    <p>Năm {{b2}} là: {{row1['COUNT(*)']}} bài báo</p>
    {%endfor%}

    {%for row1 in account3%}
    <p>Năm {{b3}} là: {{row1['COUNT(*)']}} bài báo</p>
    {%endfor%}

    {%for row1 in account4%}
    <p>Năm {{b4}} là: {{row1['COUNT(*)']}} bài báo</p>
    {%endfor%}
</body>

</html>