<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en"> 
    <head> 
        <title>index</title> 
        <link rel="stylesheet" href="../static/style.css"> 
    </head> 
  
    <body bgcolor="#e6ffee"> 
        <div class="one"> 
            <div class="two"> 
                <h1>Side Bar</h1> 
                <ul> 
                    <li class="active"><a href="">Cập nhật thông tin cá nhân</a></li> 
                    <li><a href="">Cập nhật phản biện</a></li> 
                    <li><a href="">Danh sách bài báo theo loại đang phản biện</a></li>
                    <li><a href="">Danh sách bài báo theo loại đã phản biện trong ba năm</a></li>
                    <li><a href="">Danh sách tác giả có nhiều bài được phản biện</a></li>
                    <li><a href="">Danh sách bài báo của tác giả đang phản biện</a></li>
                    <li><a href="">Xem kết quả phản biện bài báo trong năm</a></li> 
                    <li><a href="">Xem số bài báo phản biện nhiều nhất trong ba năm</a></li>
                    <li><a href="">Xem 3 bài báo mà mình đã phản biện có kết quả tốt nhất/thấp nhất </a></li>
                    <li><a href="">Xem trung bình số bài báo mỗi năm đã phản biện trong 5 năm gần đây nhất</a></li>
                </ul>  
            </div> 
            <div class="content" align="center"> 
                <div class="topbar"> 
                    <h2>Welcome!! You are in Index Page!! </h2>                         
                </div></br></br> 
                <div class="contentbar"> 
                     <div class="msg">{{ msg }}</div> 
                </div>   
                  
            </div> 
        </div> 
    </body> 
</html> 