<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en"> 
    <head> 
        <title>index</title> 
        <link rel="stylesheet" href="../static/style.css"> 
    </head> 
  
    <body bgcolor="#e6ffee"> 
        <div class="one"> 
            <div class="two"> 
                <h1>Side Bar</h1> 
                <ul> 
                    <li class="active"><a href="{{ url_for('indexTG1')}}">Cập nhật thông tin cá nhân</a></li> 
                    <li><a href="{{ url_for('indexTG2')}}">Cập nhật thông tin bài báo</a></li> 
                    <li><a href="{{ url_for('indexTG3')}}">Xem thông tin tác giả bài báo</a></li>
                    <li><a href="{{ url_for('indexTG4')}}">Xem trạng thái của một bài báo</a></li>
                    <li><a href="{{ url_for('indexTG5')}}">Xem kết quả phản biện của một bài báo</a></li>
                    <li><a href="{{ url_for('indexTG6')}}">Xem danh sách các bài báo trong một năm</a></li>
                    <li><a href="{{ url_for('indexTG7')}}">Xem danh sách các bài báo đã đăng trong một năm</a></li> 
                    <li><a href="{{ url_for('indexTG8')}}">Xem danh sách các bài báo đang được xuất bản</a></li>
                    <li><a href="{{ url_for('indexTG9')}}">Xem danh sách các bài báo có kết quả thấp nhất </a></li>
                    <li><a href="{{ url_for('indexTG10')}}">Xem tổng số bài báo đã gởi tạp chí mỗi năm trong 5 năm gần đây nhất</a></li>
                    <li><a href="{{ url_for('indexTG11')}}">Xem tổng số bài báo nghiên cứu/tổng quan được đăng mỗi năm trong 5 năm gần đây </a></li>
                </ul>  
            </div> 
            <div class="content" align="center"> 
                <div class="topbar"> 
                    <h2>Welcome!! You are in Index Page!! </h2>                         
                </div></br></br> 
                <div class="contentbar"> 
                     <div class="msg">{{ msg }}</div> 
                </div>   
                  
            </div> 
        </div> 
    </body> 
</html> 